<h1>Today's Freakin' Beans</h1>

<ul>
  <% @beans.each do |bean| %>
  <li>
    <strong><%= link_to bean.name, bean_path(bean) %></strong> - <%= bean.roast %> roast from
    <%= bean.origin %>
  </li>
  <% end %>
</ul>

<%= link_to "Add a new bean!", new_bean_path %>
